@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1693640842948') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  /* font-size: 36px; */
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  line-height: 1;
/* Better Font Rendering =========== */
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.icon-check-fill:before {
  content: "\e672";
  color: white;
}

