.nut-animate{
  width: 100%;
  height: 100%;
  // margin: 1px;
}
.nut-animate-ripple{
  width: 100%;
}
.nut-swipe{
  width: 100%;
  // border-radius: 20rpx !important;
  border-radius: 20rpx;
  margin: 1px;
}

.swipe{
  width: 100%;
  height: 100%;
  border-radius: 20rpx !important;
  margin: 1px;
  // margin: 0 10px !important;
}
.at-swipe-action{
  width: 100%;
}
.at-swipe-action__area{
  width: 100%;
  // background-color: white;
}
.at-swipe-action__content{
  // background-color: white;
}
